/*************** Reset *********************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  border-radius: 20px;
}

.ommig {
  margin: 30px;
}

.grid_1-1 {
  text-align: center;
  h1 {
    margin: 10px;
  }
  p {
    margin: 15px;
  }
  img {
    width: 80%;
  }
}

.cv_intro {
  text-align: center;
  margin: 20px;
}

.horisontal_linje {
  border: 0.5px solid;
  width: 100%;
}

.tidslinje_container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

.tidslinje_event {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.tidslinje_ {
  display: flex;
  background: rgb(123, 123, 97);
  width: 3px;
  order: 2;
}

.tidslinje_dot {
  display: flex;
  height: 30px;
  width: 30px;
  background-color: rgb(123, 123, 97);
  border-radius: 50%;
}

.tidslinje_job {
  text-align: left;
  padding-inline: 20px;
  order: 3;
  width: 80%;
  margin: 20px;
}

.order {
  flex-direction: row-reverse;
}

/* Info om job, styling af fonte, placering og knap */
.grid_1-1-1 {
  text-align: center;
  background-color: rgb(255, 251, 241);
  padding: 20px;
  h3 {
    font-size: 1.5rem;
    margin: 10px;
    font-weight: 400;
    color: rgb(123, 123, 97);
  }
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.knap {
  background-color: rgb(123, 123, 97);
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  margin: 20px;
  font-family: Roboto slab;
  font-weight: 350;
  color: rgb(255, 251, 241);
  border: 2px solid;
  text-decoration: none;
}

.knap:hover {
  background-color: rgb(255, 251, 241);
  color: rgb(123, 123, 97);
}

@media only screen and (min-width: 800px) {
  .ommig {
    margin: 8%;
  }

  h1 {
    font-size: 3rem;
    margin: 30px;
  }

  .flex_box {
    text-align: left;
    display: flex;
    justify-content: center;
    p {
      width: 50ch;
      margin: 50px;
    }
    img {
      width: 70%;
      margin-left: 50px;
    }
  }

  .order {
    order: -1;
  }

  .cv_intro {
    text-align: center;
    p {
      margin: 20px auto; /* Auto margin for at centrere */
      max-width: 60ch;
    }
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .oversigt {
      padding: 20px;
    }
  }

  .mineprojekter {
    grid-column: 2;
  }
}
/* .start_cirkel {
  display: flex;
  justify-content: center;
}

.cirkel {
  grid-column: 2;
  height: 40px;
  width: 40px;
  background-color: rgb(123, 123, 97);
  border-radius: 50%;
}

.tidslinje {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.linje1 {
  grid-column: 2;
  grid-row: 1;
  height: 100px;
  border-left: 3px solid;
}



/* .vertikal_linje {
  grid-column: 2;
  width: 3px;
  height: 600px;
  background-color: rgb(123, 123, 97);
} */
